html {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  font-size: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.skip-links {
  display: none;
}

.skip-links a {
  position: absolute;
  top: auto;
}

h1, h2 {
  font-family: 'pacifico', cursive;
  font-size: 2rem;
}

header {
  background-color: #76c284;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* header img {
  width: 72px;
} */

header img {
  width: 64px;
  height: 64px;
}

.logo {
  width: 10%;
}

nav {
  width: 80%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav a {
  color: #000;
  transition: color .2s;
  text-decoration: none;
}

/* .card {
  opacity: 60%;
} */

nav a:hover {
  color: #fff;
}

.banner-text {
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.artwork {
  padding: 1rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin-bottom: 2rem;
}

.card img {
  grid-row: 1 / 5;
  grid-column: 1 / 2;
  border: 10px solid #000;
}

.card h2 {
  grid-row: 3 /4;
  grid-column: 1 /2;
  align-self: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.card a {
  grid-row: 4 /5;
  grid-column: 1 /2;
  align-self: start;
  justify-self: center;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 5px solid #000;
  padding: 2.5rem 1rem;
  transition: all .2s;
  border-radius: 25px;
}

.card a:hover {
  background-color: #000;
  color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  gap: 1rem;
  background-color: #7abafa;
}

.icon svg {
  width: 32px;
  height: 32px;
}

.social {
  display: flex;
  gap: 1rem;
}

.pg-container {
  padding: 1rem;
}

.bubbles {
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bubble {
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 5rem;
  background-color: #daaef5;
  margin-bottom: 2rem;
  margin-right: 0;
  text-align: center;
  color: #fff;
  }

.b2 {
  background-color: #7abafa;
}

/* .bubble a {
  color: #fff;
  border: 3px solid #fff;
  padding: .5rem .7rem;
  text-decoration: none;
  display: block;
  border-radius: 25px;
  transition: all .2s;
  }

.bubble a:hover {
  background-color: white;
  color: #7abafa;
} */

.pg-container {
  padding: 1rem;
}

.artwork-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem,100%),1fr));
  gap: 1rem;
}

@media only screen and (min-width: 53em) {
  .artwork {
    display: flex;
    justify-content: space-around;
  }

  footer {
    flex-direction: row;
  }
  .bubbles {
    flex-direction: row;
    justify-content: space-around;
    padding: 9rem 2rem;
  }

}
