html {
  font-family: 'Noto Sans',sans-serif;
  line-height: 1;
  box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

body{
  margin:0;
  padding: 0;
}

img {
  width:100%;
}

h1,h2 {
  font-family: 'pacifico', cursive;
  font-size: 2rem;
}

header {
  background-color: #76C284;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}

.logo {
  width: 10%;
}
nav {
  width:80%;
}

nav ul {
  list-style-type: none;
  display:flex;
  justify-content: space-around;
}

nav a {
color: #000;
transition: color .2s;
}

.card {
  opacity: 70%;
}
